* {
  --md-sys-shape-corner-full: 9999px;
  --md-sys-shape-corner-xl: 1.75rem;
  --md-sys-shape-corner-xl-top: var(--md-sys-shape-corner-xl)
    var(--md-sys-shape-corner-xl) 0 0;
  --md-sys-shape-corner-lg: 1rem;
  --md-sys-shape-corner-lg-top: var(--md-sys-shape-corner-lg)
    var(--md-sys-shape-corner-lg) 0 0;
  --md-sys-shape-corner-lg-end: 0 var(--md-sys-shape-corner-lg)
    var(--md-sys-shape-corner-lg) 0;
  --md-sys-shape-corner-lg-start: var(--md-sys-shape-corner-lg) 0 0;
  --md-sys-shape-corner-md: 0.75rem;
  --md-sys-shape-corner-sm: 0.5rem;
  --md-sys-shape-corner-xs: 0.25rem;
  --md-sys-shape-corner-xs-top: var(--md-sys-shape-corner-xs)
    var(--md-sys-shape-corner-xs) 0 0;
  --md-sys-shape-corner-none: 0;
}
