@import "open-props/borders.min.css";
@import "assets/css/colors.css";

* {
    font-family: Zen Maru Gothic, sans-serif;
    margin: 0;
}

body {
    background-color: var(--palette-neutral96);
    overflow: hidden;
}

code, pre {
    font-family: JetBrains Mono, monospace;
}

:enabled, a {
    cursor: pointer;
}

/* classes */
.square {
    width: var(--square-size);
    height: var(--square-size);
}

.h-stack, .v-stack {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.h-stack {
    flex-direction: row;
}

.v-stack {
    flex-direction: column;
}