@import "open-props/borders.min.css";
@import "assets/css/colors.css";
@import "assets/css/layout.css";

* {
  font-family:
    Zen Maru Gothic,
    sans-serif;
  margin: 0;
  color: var(--color-on-surface);
}

body {
  background-color: var(--color-surface);
  overflow: hidden;
}

code,
pre {
  font-family:
    JetBrains Mono,
    monospace;
}

:enabled,
a {
  cursor: pointer;
}
