* {
  --md-sys-typescale-headline-lg-size: 2rem;
  --md-sys-typescale-headline-lg-weight: 400;
  --md-sys-typescale-headline-lg-tracking: 0;
  --md-sys-typescale-headline-md-size: 1.75rem;
  --md-sys-typescale-headline-md-weight: 400;
  --md-sys-typescale-headline-md-tracking: 0;
  --md-sys-typescale-headline-sm-size: 1.5rem;
  --md-sys-typescale-headline-sm-weight: 400;
  --md-sys-typescale-headline-sm-tracking: 0;
  --md-sys-typescale-title-lg-size: 1.375rem;
  --md-sys-typescale-title-lg-weight: 400;
  --md-sys-typescale-title-lg-tracking: 0;
  --md-sys-typescale-title-md-size: 1rem;
  --md-sys-typescale-title-md-weight: 500;
  --md-sys-typescale-title-md-tracking: 0.15pt;
  --md-sys-typescale-title-sm-size: 0.875rem;
  --md-sys-typescale-title-sm-weight: 500;
  --md-sys-typescale-title-sm-tracking: 0.1pt;
  --md-sys-typescale-body-lg-size: 1rem;
  --md-sys-typescale-body-lg-weight: 400;
  --md-sys-typescale-body-lg-tracking: 0.5pt;
  --md-sys-typescale-body-md-size: 0.875rem;
  --md-sys-typescale-body-md-weight: 400;
  --md-sys-typescale-body-md-tracking: 0.25pt;
  --md-sys-typescale-body-sm-size: 0.75rem;
  --md-sys-typescale-body-sm-weight: 400;
  --md-sys-typescale-body-sm-tracking: 0.4pt;
  --md-sys-typescale-label-lg-size: 0.875rem;
  --md-sys-typescale-label-lg-weight: 500;
  --md-sys-typescale-label-lg-weight-prominent: 700;
  --md-sys-typescale-label-lg-tracking: 0.1pt;
  --md-sys-typescale-label-md-size: 0.75rem;
  --md-sys-typescale-label-md-weight: 500;
  --md-sys-typescale-label-md-weight-prominent: 700;
  --md-sys-typescale-label-md-tracking: 0.5pt;
  --md-sys-typescale-label-sm-size: 0.6875rem;
  --md-sys-typescale-label-sm-weight: 500;
}

.display-lg {
  font-size: var(--md-sys-typescale-headline-lg-size);
  font-weight: var(--md-sys-typescale-headline-lg-weight);
  letter-spacing: var(--md-sys-typescale-headline-lg-tracking);
}

.display-md {
  font-size: var(--md-sys-typescale-headline-md-size);
  font-weight: var(--md-sys-typescale-headline-md-weight);
  letter-spacing: var(--md-sys-typescale-headline-md-tracking);
}

.display-sm {
  font-size: var(--md-sys-typescale-headline-sm-size);
  font-weight: var(--md-sys-typescale-headline-sm-weight);
  letter-spacing: var(--md-sys-typescale-headline-sm-tracking);
}
.headline-lg {
  font-size: var(--md-sys-typescale-headline-lg-size);
  font-weight: var(--md-sys-typescale-headline-lg-weight);
  letter-spacing: var(--md-sys-typescale-headline-lg-tracking);
}

.headline-md {
  font-size: var(--md-sys-typescale-headline-md-size);
  font-weight: var(--md-sys-typescale-headline-md-weight);
  letter-spacing: var(--md-sys-typescale-headline-md-tracking);
}

.headline-sm {
  font-size: var(--md-sys-typescale-headline-sm-size);
  font-weight: var(--md-sys-typescale-headline-sm-weight);
  letter-spacing: var(--md-sys-typescale-headline-sm-tracking);
}

.title-lg {
  font-size: var(--md-sys-typescale-title-lg-size);
  font-weight: var(--md-sys-typescale-title-lg-weight);
  letter-spacing: var(--md-sys-typescale-title-lg-tracking);
}

.title-md {
  font-size: var(--md-sys-typescale-title-md-size);
  font-weight: var(--md-sys-typescale-title-md-weight);
  letter-spacing: var(--md-sys-typescale-title-md-tracking);
}

.title-sm {
  font-size: var(--md-sys-typescale-title-sm-size);
  font-weight: var(--md-sys-typescale-title-sm-weight);
  letter-spacing: var(--md-sys-typescale-title-sm-tracking);
}

.body-lg {
  font-size: var(--md-sys-typescale-body-lg-size);
  font-weight: var(--md-sys-typescale-body-lg-weight);
  letter-spacing: var(--md-sys-typescale-body-lg-tracking);
}

.body-md {
  font-size: var(--md-sys-typescale-body-md-size);
  font-weight: var(--md-sys-typescale-body-md-weight);
  letter-spacing: var(--md-sys-typescale-body-md-tracking);
}

.body-sm {
  font-size: var(--md-sys-typescale-body-sm-size);
  font-weight: var(--md-sys-typescale-body-sm-weight);
  letter-spacing: var(--md-sys-typescale-body-sm-tracking);
}

.label-lg {
  font-size: var(--md-sys-typescale-label-lg-size);
  font-weight: var(--md-sys-typescale-label-lg-weight);
  letter-spacing: var(--md-sys-typescale-label-lg-tracking);
}

.label-md {
  font-size: var(--md-sys-typescale-label-md-size);
  font-weight: var(--md-sys-typescale-label-md-weight);
  letter-spacing: var(--md-sys-typescale-label-md-tracking);
}

.label-sm {
  font-size: var(--md-sys-typescale-label-sm-size);
  font-weight: var(--md-sys-typescale-label-sm-weight);
  letter-spacing: var(--md-sys-typescale-label-sm-tracking);
}
